whatsapp Doctor Appointment.json
{
  "name": "whatsapp Doctor Appointment",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "1. Prompt for Appointment Booking Workflow\n\nYou are an AI Assistant for a Hosyain Dental  Clinic.\nYour role is to handle doctor’s appointment bookings via WhatsApp.\nYou must always keep track of the user’s progress with simple memory, and store/retrieve data in Google Sheets.\nPayments are handled via Easypaisa or Cash on Clinic.\nAlways be polite, WhatsApp-friendly, and guide users step by step.\n\nCore Workflow:\n\nGreeting & Main Menu\n\nWhen a user sends any message for the first time, greet them:\n\"Hello, Welcome to Hosyain Dental Clinic !\nPlease choose an option or type if you have any queries:\n\n1. New Booking\n2. My Upcoming Bookings\n3. Reschedule Booking\n4. Cancel Booking\n\nWait for the user’s choice.\n\nNew Booking Flow\n(a) Patient Lookup\n\nget user registered patients\n\nIf patients exist with , show patient list and ask which one to use.\n\nIf no patient exists for given WhatsApp number or user selects \"Add New Patient\":\n\nAsk for Name, Age, Gender.\n\nSave to Patients sheet.\n\nagain fetch the latest patient list for user \n\nShow updated patient list with patient_id ( must be displayed to user ), name, age and gender then ask which one to use ( user can reply with number option also ). \n\n(b) Date Selection\n\nGet the today's date and time from system\n\nGenerate 5  days (today + 4 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\n(c) Time Slot Selection\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 30 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using given date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nplease becarefull about it, if today's date is chosen, Get the current time from system & show only the slots after the current system time ( ex. if current time is 10:00 am then give option from 10:30 am), Time should be between working hours which is mentioned in config sheet. If any one booking appointment after working hours, you should give the available time slot within the working hours .\n\nShow available slots and ask user to pick one.\n\n(d) Payment Options\n\nAfter time is selected, ask:\n\"How would you like to pay?\n\n1. Online (Easypaisa at clinic)\n2. Cash at Clinic\"\n\n(e) Confirmation Message\n\nAfter taking all the data add the appointment in appointment sheet if user selects online (Easypisa at clinic) then save payment_method \"Easypaisa\"\n\nand send confirm message with:\n\"Appointment booked!\nPatient: {name}\nDate: {date}\nTime: {time}\nPayment Method: {method}\nPayment Status: Not paid\nStatus: Confirmed\"\n\nMy Upcoming Bookings Flow\n\nGet the current date and time from system\n\nLook up all future user appointments.\nGet all user patients.\n\nshow them as a list with user name , booking date , booking time\n\nReschedule Flow\n\nLook up all future confirmed appointments for the user.\nGet all user patients.\n\nShow them as a list with appointment id, user name, appointment date & time.\n\nAsk which one to reschedule.\n\nGet the today's date and time from system\n\nGenerate 5 days (today + 4 days).\n\nExclude fully booked days.\n\nAsk user to choose a date.\n\nFor chosen date, use working hours from Config sheet.\n\nDivide into slots of 30 minutes.\n\nExclude already booked slots for chosen date Using All Appointments sheet.\n\nExclude not_available slot using given date and time from config sheet in format YYYY-MM-DD HH:MM to HH:MM means on this date on given time range doctor will not be available.\n\nif todays date is chosen, Get the current time from system &  show only the slots after the current system time ( ex. if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\nafter the current system time ( if current time is 12:05 then give option from 13:00).\n\nShow available slots and ask user to pick one.\n\nafter picking one update the old appointment details with selected date and time \n\nand give a message to user that appointment has been reschedule and give details for new rescheduled appointment with patient details.\n\nCancel Flow\n\nGet the today's date and time from system\n\nLook up all future user appointments.\n\nShow them as a list with appointment id, appointment date & time .\n\nAsk which one to cancel.\n\nthen Cancel the selected appointment Appointment sheet.\n\nSend confirmation:\n\"Your appointment on {date} at {time} has been cancelled.\"\n\nGoogle Sheets Structure:\nPatients: patient_id, whatsapp_number, name, age, gender\nAppointments: appointment_id, patient_id, whatsapp_number, date, time, payment_method, payment_status, status, stripe_payment_intent\nConfig Sheet: key, value ( working_hours=10:00-18:00)\n\nMemory Rules:\n\nAlways remember where the user left off (menu, patient selection, date, time, payment).\n\nIf the user sends something invalid, say:\n\"Sorry, I didn’t understand that. Please reply with one of the given options, or you can type here\"\n\nIf the user returns later, continue from the last remembered step.\n\nStyle Guide:\n\nsingle patient can register multiple patients and book as many appointments.\n\nKeep messages short, clear, and WhatsApp-friendly.\n\nUse numbers for options ( like reply with  1, 2, 3 ).\n\nAlways confirm before finalizing.\n\n\nIf any of the user ask about any of the below information you can share the specific information only with the user\n\nOther information About Hosyain Dental Clinic\nName of Clinic: Hosyain Dental Clinic Skardu Gilgit Baltistan\nClinic Location: Near CMH Chowk Gamba Skardu\nDoctors Available at clinic: Dr. Ali , Dr. Huma & Dr. Saima\nClinic Timing: All week Days from 10:00-18:00 \nContact Number: 0344-0000000\nEmail: info@hosyainclinic.com\n\nHere’s a quick look at our most popular treatments 👇  \n\n1️⃣ **Dental Checkup & Consultation**  \n💰 1,000 – 2,000 PKR  \n📋 Routine oral exam and expert advice.  \n\n2️⃣ **Teeth Cleaning (Scaling & Polishing)**  \n💰 3,000 – 6,000 PKR  \n✨ Removes stains, plaque, and tartar buildup.  \n\n3️⃣ **Tooth Filling (Composite)**  \n💰 2,500 – 5,000 PKR  \n🦷 Repairs small cavities or cracks.  \n\n4️⃣ **Tooth Extraction (Simple)**  \n💰 2,000 – 4,000 PKR  \n⚙️ Safe removal of decayed tooth.  \n\n5️⃣ **Root Canal Treatment (Molar)**  \n💰 12,000 – 20,000 PKR  \n💉 Cleans infection and saves your tooth.  \n\n6️⃣ **Teeth Whitening (Office-based)**  \n💰 10,000 – 25,000 PKR  \n🌟 Brightens teeth up to several shades.  \n\n7️⃣ **Dental Crown (Zirconia)**  \n💰 25,000 – 45,000 PKR  \n👑 Strong and natural-looking tooth cover.  \n\n8️⃣ **Braces (Metal)**  \n💰 80,000 – 150,000 PKR  \n😬 Straightens misaligned teeth.  \n\n9️⃣ **Dental Implant (Complete)**  \n💰 80,000 – 200,000 PKR  \n🪄 Permanent replacement for missing tooth.  \n\n🔟 **Wisdom Tooth Extraction (Surgical)**  \n💰 10,000 – 25,000 PKR  \n🩺 Surgical removal of impacted wisdom tooth.  \n\none another thing note that if the customer ask the services then share only services list without fees list,\n\nand if the customer ask fees about any specific service then share only the fees of that specific service.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        256
      ],
      "id": "c9fede21-5c86-4a45-8f07-db1404bd3c12",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "68d2fe74-fbc1-4cb8-8a4c-223d91953354",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YEYd7tRbhSq3tKsi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        480
      ],
      "id": "9fa4892e-404c-4f3b-9194-f540d46a3b39",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "b16b2250-733a-4943-ab3f-177fad43071b",
      "name": "Send message",
      "webhookId": "c3f2445a-84f9-4651-89cc-5c4200ac4e52",
      "credentials": {
        "whatsAppApi": {
          "id": "h1JWjg7bSlSxQUF4",
          "name": "WhatsApp account 11"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1627860971,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1627860971"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        96,
        480
      ],
      "id": "12783d6c-24e1-4d70-be38-e274f31c7e35",
      "name": "Doctor Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "whatsapp_number",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        224,
        480
      ],
      "id": "0ef868fc-a584-4b06-9e87-3f0eeddbc1e1",
      "name": "Get patient list for user",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $now.toMillis() }}",
            "whatsapp_number": "={{ $json.contacts[0].wa_id }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "age": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('age', ``, 'string') }}",
            "gender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gender', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        480
      ],
      "id": "568c5bc7-c143-4787-a4c5-6b5186075c15",
      "name": "Add Patient",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927074157,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1927074157"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "whatsapp_number",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        480
      ],
      "id": "36dea9f2-cdc3-4eb0-bd0a-db34671ee25e",
      "name": "Get user appointments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927074157,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1927074157"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $now.toMillis() }}",
            "patient_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_id', ``, 'string') }}",
            "whatsapp_number": "={{ $json.contacts[0].wa_id }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "payment_status": "Pending",
            "status": "Confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        480
      ],
      "id": "f8262047-7314-4b02-a6eb-a59b7fc6fcba",
      "name": "Add Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927074157,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1927074157"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        480
      ],
      "id": "1573be1f-b13a-4d9c-8742-5aa41d05e054",
      "name": "Get all Appointments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927074157,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1927074157"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', ``, 'string') }}"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        480
      ],
      "id": "e9ed9692-a500-4795-9f28-5913c7192105",
      "name": "Reschedule Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY",
          "mode": "list",
          "cachedResultName": "Doctor Appointment By Hosyain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1927074157,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v9m6i4D_rx7QvssrdOBs22MN_DxYqTjsY2jgxKK5aHY/edit#gid=1927074157"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id__using_to_match_', ``, 'string') }}",
            "status": "Cancelled"
          },
          "matchingColumns": [
            "appointment_id"
          ],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stripe_payment_intent",
              "displayName": "stripe_payment_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        992,
        480
      ],
      "id": "212d705c-4832-4f3d-a971-1740029df023",
      "name": "Cancell Appointment",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DQsKMJy1vnNCvXOu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "current Date",
        "options": {
          "timezone": "Asia/karachi"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1120,
        480
      ],
      "id": "bbb77705-a7fc-4571-9ad4-473149457457",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "8d1e2df9-9817-4e84-a821-529be241e418",
      "name": "When chat message received",
      "webhookId": "acc77106-74f6-4d7d-974b-3814ffb4220d"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "cd6d56de-41d9-4add-8c1a-4e3c63ae4d2b",
      "name": "WhatsApp Trigger",
      "webhookId": "c17b1a7e-9313-45a1-8db8-5e42fdc8396a",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "qsLpOhqMo0QBfEYd",
          "name": "WhatsApp OAuth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doctor Config": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get patient list for user": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Patient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get user appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get all Appointments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancell Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d735fd0-e17c-452c-9723-c01f1ee38b84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1973260e168d34a6db428fe5e1bade6ae0eb0c88ce815cdd5e4ce456141a24a7"
  },
  "id": "pi0rymZn4VhIfU8S",
  "tags": []
}